PORT=8080
SESSION_NAME=session_1
SESSION_PATH=./session
LOG_PATH=./public/log
AUTO_START=y

# Database MySQL
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=wa_gateway

# Admin Login
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
